body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 40px;
  background: #1e293b;
}

h1 {
  margin: 0;
}

section {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

h2 {
  border-bottom: 2px solid #38bdf8;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1e293b;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 20px;
  background: #1e293b;
  margin-top: 30px;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  background: #38bdf8;
  color: black;
  cursor: pointer;
  display: none;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

body.light {
  background: #f1f5f9;
  color: #0f172a;
}

body.light header,
body.light .card,
body.light li,
body.light footer {
  background: #e2e8f0;
}

#Tema {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}